*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

*:not(dialog) {
    margin: 0;
}

p {
    text-wrap: pretty;
    hyphens: manual;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

button, summary {
    user-select: none;
}

audio, img, picture, svg, video, canvas, iframe, embed, object {
    display: block;
    max-width: 100%;
}

button,
label,
select,
input[type="checkbox"],
input[type="radio"],
input[type="range"] {
    cursor: pointer;
}

input[type="range"] {
    cursor: grab;
}

input[type="range"]:active {
    cursor: grabbing;
}


input, button, textarea, select {
    font: inherit;
}

li {
    list-style: none;
}
