/* width */

.w_100
{
    width: 100%;
}

.w_95
{
    width: 95%;
}

.w_90
{
    width: 90%;
}

.w_85
{
    width: 85%;
}

.w_80
{
    width: 80%;
}

.w_75
{
    width: 75%;
}

.w_70
{
    width: 70%;
}

.w_66
{
    width: 66.6%;
}

.w_65
{
    width: 65%;
}

.w_60
{
    width: 60%;
}

.w_55
{
    width: 55%;
}

.w_50
{
    width: 50%;
}

.w_45
{
    width: 45%;
}

.w_40
{
    width: 40%;
}

.w_35
{
    width: 35%;
}

.w_33
{
    width: 33.3%;
}

.w_30
{
    width: 30%;
}

.w_25
{
    width: 25%;
}

.w_20
{
    width: 20%;
}

.w_15
{
    width: 15%;
}

.w_10
{
    width: 10%;
}

.w_5
{
    width: 5%;
}

/* height */

.h_100
{
    height: 100%;
}

.h_95
{
    height: 95%;
}

.h_90
{
    height: 90%;
}

.h_85
{
    height: 85%;
}

.h_80
{
    height: 80%;
}

.h_75
{
    height: 75%;
}

.h_70
{
    height: 70%;
}

.h_66
{
    height: 66.6%;
}

.h_65
{
    height: 65%;
}

.h_60
{
    height: 60%;
}

.h_55
{
    height: 55%;
}

.h_50
{
    height: 50%;
}

.h_45
{
    height: 45%;
}

.h_40
{
    height: 40%;
}

.h_35
{
    height: 35%;
}

.h_33
{
    height: 33.3%;
}

.h_30
{
    height: 30%;
}

.h_25
{
    height: 25%;
}

.h_20
{
    height: 20%;
}

.h_15
{
    height: 15%;
}

.h_10
{
    height: 10%;
}

.h_5
{
    height: 5%;
}

/* width and height */

.wh_100
{
    width: 100%;
    height: 100%;
}

.wh_95
{
    width: 95%;
    height: 95%;
}

.wh_90
{
    width: 90%;
    height: 90%;
}

.wh_85
{
    width: 85%;
    height: 85%;
}

.wh_80
{
    width: 80%;
    height: 80%;
}

.wh_75
{
    width: 75%;
    height: 75%;
}

.wh_70
{
    width: 70%;
    height: 70%;
}

.wh_66
{
    width: 66.6%;
    height: 66.6%;
}

.wh_65
{
    width: 65%;
    height: 65%;
}

.wh_60
{
    width: 60%;
    height: 60%;
}

.wh_55
{
    width: 55%;
    height: 55%;
}

.wh_50
{
    width: 50%;
    height: 50%;
}

.wh_45
{
    width: 45%;
    height: 45%;
}

.wh_40
{
    width: 40%;
    height: 40%;
}

.wh_35
{
    width: 35%;
    height: 35%;
}

.wh_33
{
    width: 33.3%;
    height: 33.3%;
}

.wh_30
{
    width: 30%;
    height: 30%;
}

.wh_25
{
    width: 25%;
    height: 25%;
}

.wh_20
{
    width: 20%;
    height: 20%;
}

.wh_15
{
    width: 15%;
    height: 15%;
}

.wh_10
{
    width: 10%;
    height: 10%;
}

.wh_5
{
    width: 5%;
    height: 5%;
}


/* position */

.relative,
.rltv
{
    position: relative;
}

.absolute,
.bslt
{
    position: absolute;
}

.fixed,
.fxd
{
    position: fixed;
}

.sticky,
.stck
{
    position: sticky;
}

.left,
.lft
{
    left: 0;
}

.right,
.rght
{
    right: 0;
}

.top,
.tp
{
    top: 0;
}

.bottom,
.bttm
{
    bottom: 0;
}

.inset,
.nst
{
    inset: 0
}

/* display */

/* <display-outside> */

.block,
.blck
{
    display: block;
}

.inline,
.nln
{
    display: inline;
}

.run_in,
.rn_n
{
    display: run-in;
}

/* <display-inside> */

.flow,
.flw
{
    display: flow;
}

.flow_root,
.flw_rt
{
    display: flow-root;
}

.table,
.tbl
{
    display: table;
}

.flex,
.flx
{
    display: flex;
}

.flex_center,
.flx_cntr
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_main,
.cntr_mn
{
    justify-content: center;
}

.align_items_center,
.lgn_tms_cntr
{
    align-items: center;
}

.grid,
.grd
{
    display: grid;
}

.center_horizontally,
.cntr_hrzntll
{
    justify-items: center;
}

.grid_center,
.grd_cntr
{
    display: grid;
    place-items: center;
}

.ruby,
.rb
{
    display: ruby;
}

/* <display-listitem> */

.list_item,
.lst_tm
{
    display: list-item;
}

/* <display-internal> */

.table_row_group,
.tbl_rw_grp
{
    display: table-row-group;
}

.table_header_group,
.tbl_hdr_grp
{
    display: table-header-group;
}

.table_footer_group,
.tbl_ftr_grp
{
    display: table-footer-group;
}

.table_row,
.tbl_rw
{
    display: table-row;
}

.table_cell,
.tbl_cll
{
    display: table-cell;
}

.table_column_group,
.tbl_clmn_grp
{
    display: table-column-group;
}

.table_column,
.tbl_clmn
{
    display: table-column;
}

.table_caption,
.tbl_cptn
{
    display: table-caption;
}

.ruby_base,
.rb_bs
{
    display: ruby-base;
}

.ruby_text,
.rb_txt
{
    display: ruby-text;
}

.ruby_base_container,
.rb_bs_cntnr
{
    display: ruby-base-container;
}

.ruby_text_container,
.rb_txt_cntnr
{
    display: ruby-text-container;
}

/* <display-box> */

.contents,
.cntnts
{
    display: contents;
}

.none,
.nn
{
    display: none;
}

/* <top-level> */

.grid_lanes,
.grd_lns
{
    display: grid-lanes;
}

.inline_grid_lanes,
.nln_grd_lns
{
    display: inline-grid-lanes;
}

/* <math> */

.math,
.mth
{
    display: math;
}

.show-border,
.shw-brdr
{
    border: 1px dashed red;
}