/* width */

.w_100
{
    width: 100%;
}

.w_80
{
    width: 80%;
}

.w_66
{
    width: 66%;
}

.w_60
{
    width: 80%;
}

.w_50
{
    width: 50%;
}

.w_40
{
    width: 40%;
}

.w_33
{
    width: 33%;
}

.w_25
{
    width: 25%;
}

.w_20
{
    width: 20%;
}

/* height */

.h_100
{
    height: 100%;
}

.h_80
{
    height: 80%;
}

.h_66
{
    height: 66%;
}

.h_60
{
    height: 80%;
}

.h_50
{
    height: 50%;
}

.h_40
{
    height: 40%;
}

.h_33
{
    height: 33%;
}

.h_25
{
    height: 25%;
}

.h_20
{
    height: 20%;
}

/* width and height */

.wh_100
{
    width: 100%;
    height: 100%;
}

.wh_80
{
    width: 80%;
    height: 80%;
}

.wh_66
{
    width: 66%;
    height: 66%;
}

.wh_60
{
    width: 80%;
    height: 80%;
}

.wh_50
{
    width: 50%;
    height: 50%;
}

.wh_40
{
    width: 40%;
    height: 40%;
}

.wh_33
{
    width: 33%;
    height: 33%;
}

.wh_25
{
    width: 25%;
    height: 25%;
}

.wh_20
{
    width: 20%;
    height: 20%;
}

/* position */

.relative
{
    position: relative;
}

.absolute
{
    position: absolute;
}

.fixed
{
    position: fixed;
}

.sticky
{
    position: sticky;
}

.left
{
    left: 0;
}

.right
{
    right: 0;
}

.top
{
    top: 0;
}

.bottom
{
    bottom: 0;
}

.inset
{
    inset: 0
}

/* display */

/* <display-outside> */

.block
{
    display: block;
}

.inline
{
    display: inline;
}

.run_in
{
    display: run-in;
}

/* <display-inside> */

.flow
{
    display: flow;
}

.flow_root
{
    display: flow-root;
}

.table
{
    display: table;
}

.flex
{
    display: flex;
}

.flex_center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid
{
    display: grid;
}

.grid_center
{
    display: grid;
    place-items: center;
}

.ruby
{
    display: ruby;
}

/* <display-listitem> */

.list_item
{
    display: list-item;
}

/* <display-internal> */

.table_row_group
{
    display: table-row-group;
}

.table_header_group
{
    display: table-header-group;
}

.table_footer_group
{
    display: table-footer-group;
}

.table_row
{
    display: table-row;
}

.table_cell
{
    display: table-cell;
}

.table_column_group
{
    display: table-column-group;
}

.table_column
{
    display: table-column;
}

.table_caption
{
    display: table-caption;
}

.ruby_base
{
    display: ruby-base;
}

.ruby_text
{
    display: ruby-text;
}

.ruby_base_container
{
    display: ruby-base-container;
}

.ruby_text_container
{
    display: ruby-text-container;
}

/* <display-box> */

.contents
{
    display: contents;
}

.none
{
    display: none;
}

/* <top-level> */

.grid_lanes
{
    display: grid-lanes;
}

.inline_grid_lanes
{
    display: inline-grid-lanes;
}

/* <math> */

.math
{
    display: math;
}